openai
langchain
langchain-core
langchain_openai
python-dotenv
pypdf
faiss-cpu
rank_bm25
streamlit
streamlit-extras
pypdf
tiktoken
faiss-cpu
pdf2image
langchain-experimental
langchain-chroma
pillow
pydantic
lxml
matplotlib
chromadb
tiktoken
hf_xet
PyPDF2
pdfplumber
pytesseract
unstructured
pi_heif
ipython
open_clip_torch 
torch
fastapi
uvicorn
langserve
sse_starlette
wikipedia
arxiv
langchainhub
langgraph
crewai
datasets